export LIBCLANG_PATH="/Users/yan/dev/rust/.cargo/toolchains/esp/xtensa-esp32-elf-clang/esp-20.1.1_20250829/esp-clang/lib"
PATH_add /Users/yan/dev/rust/.cargo/toolchains/esp/xtensa-esp-elf/esp-15.2.0_20250920/xtensa-esp-elf/bin
